body {
  font-family: 'Press Start 2P', cursive;
  margin: 20px;
}

code {
  background: #d0d0d5;
}

canvas {
  margin: auto;
  border: 1px solid black;

}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}
